<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Ge$tor{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
        <link href="/static/estilos.css" rel="stylesheet">
    </head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="container">
            <a href="/">
                <img src="{{ url_for('static', filename='img/gestor.png') }}" alt="gestor" />
            </a>
            <a href="/registro" class="link-registro"> <strong>Registrarse</strong></a>
        </div>
    </header>

    <!-- Content Block -->
    <main class="container my-4">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <p>Ge$tor</p>
        <p>Análisis y Gestión de Cobranza &copy; 2024</p>
    </footer>
</body>
</html>
